*{
    box-sizing: border-box;
    /* padding: 0px; */
    /* margin: 0px; */
}
.tablas{
    display: flex;
    gap: 5px; 
    flex-wrap: wrap;
    align-items: flex-start; 
}
table, th{
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    font-size: 20px;
}
hr{
    border: 1px solid black;
}
p{
    margin: 0px;
    font-weight: normal;
    font-size: 15px;
}